<div class="container" style="margin-top: 3%;">
    <div class="text-center">
        <h4>LISTADO DE POKEMONS</h4>
    </div>
    <table class="table" style="margin-top: 2%;">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Actions</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let poke of pokemons">
                <td>{{poke.name}}</td>
                <td>
                    <button (click)="saveFavorite(poke)" class="btn" style="color: #E6FC26;" >
                        <i class="fas fa-star fa-2x"></i>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>