<div class="container" style="margin-top: 3%;">

    <div class="text-center">
        <i class="fas fa-star fa-4x" style="color:#E6FC26;"></i>
        <h4>MIS FAVORITOS</h4>
    </div>
    <table class="table" style="margin-top: 2%;">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Alias</th>
                <th scope="col">CreatedAt</th>
                <th scope="col">ImageUrl</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of favoritePokemon; let i = index">
                <td>{{item.name}}</td>
                <td>{{item.alias}}</td>
                <td>{{item.createdAt | date}}</td>
                <td>{{item.imageUrl}}</td>
                <td>
                    <button class="btn btn-primary" (click)="editPokemon(i)">
                        <i class="fas fa-edit"></i>
                    </button>
                    <button class="btn btn-danger" style="margin-left:1% ;" (click)="deletePokemon(i)">
                        <i class="fas fa-trash-alt"></i>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>